<script src="{{ 'email-collection-popup.js' | asset_url }}" defer="defer"></script>

<div id="email-collection-popup">
    <div class="exit-container">
      <img src="{{ "exit-light.png" | asset_url }}" height="20px" width="20px"/>
    </div>  
    <div id="pop-up-content">  
      <img src="{{ 'greetings.png' | asset_url }}" height="auto" width="650px"/>
    <div class="popup-text">
      From rare plants to handcrafted goods,
      we cultivate the strange and the beautiful
      on our mountainside in Vermont.  
      Be the first to hear about 
      what's unfurling in the garden.
    </div>
    <div id="popup-email-form" class="special">
          {% form 'customer', class: 'newsletter-form' %}
          {%- if form.posted_successfully? -%}
            <h3
              class="newsletter-form__message newsletter-form__message--success"
              id="Newsletter-success--{{ section.id }}"
              autofocus
            >
              {{- 'newsletter.success' | t }}
            </h3>
          {%  else %}
            <input type="hidden" name="contact[tags]" value="newsletter">
            <div class="newsletter-form__field-wrapper">
              <div class="field">
                <input
                  id="NewsletterForm--{{ section.id }}"
                  type="email"
                  name="contact[email]"
                  class="field__input"
                  value="{{ form.email }}"
                  aria-required="true"
                  autocorrect="off"
                  autocapitalize="off"
                  autocomplete="email"
                  {% if form.errors %}
                    autofocus
                    aria-invalid="true"
                    aria-describedby="Newsletter-error--{{ section.id }}"
                  {% elsif form.posted_successfully? %}
                    aria-describedby="Newsletter-success--{{ section.id }}"
                  {% endif %}
                  placeholder="Your Email Here"
                  required
                >
                <label class="newsletter-label field__label" for="NewsletterForm--{{ section.id }}">
                  Your Email Address Here
                </label>
                <button
                  type="submit"
                  class="newsletter-form__button field__button"
                  name="commit"
                  id="Subscribe"
                  aria-label="{{ 'newsletter.button_label' | t }}"
                >
                  <span class="svg-wrapper">
                    {{- 'icon-arrow.svg' | inline_asset_content -}}
                  </span>
                </button>
              </div>
              {%- if form.errors -%}
                <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">
                  <span class="svg-wrapper">
                    {{- 'icon-error.svg' | inline_asset_content -}}
                  </span>
                  {{- form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email -}}
                </small>
              {%- endif -%}
            </div>
          {%- endif -%}
        {% endform %}
      </div>
      <div class="pop-up-title wavy-underline-light">
          All Will Be Well In The Garden
      </div>
    </div>
</div>

<style>
.newsletter-form__message--success{
  font-family: var(--font-family-secondary);
}
#email-collection-popup {
    font-family: var(--font-family-secondary);
    display: none;
    width: 90%;
    max-width: 750px;
    padding: 25px 30px 50px;
    background-color: var(--color-background-tertiary);
    color: var(--font-color-light-secondary);
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 10px;

    #pop-up-content {
      margin-top: 50px;
      display: flex; 
      flex-direction: column; 
      align-items: center; 
      justify-content: center;
      gap: 20px;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .exit-container {
      img {
        position: absolute;
        right: 10px;
        top: 10px;
      }
      img:hover {
        cursor:pointer;
      }
    }

    .pop-up-title {
        weight: 500;
        text-transform: uppercase;
        font-size: 30px;
        letter-spacing: 2px;
        text-align: center;
        margin-top: 10px;
    }

    .popup-text {
        margin: 15px 10px;
        width: 90%;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        letter-spacing: 3px;
        line-height: 1.5;
    }

    #popup-email-form {
        width: 90%;
        background-color: var(--color-background);
        line-height: 0px;
    }

    .svg-wrapper, .newsletter-label {
      font-size: 16px;
      color: var(--font-color-dark);
      font-family: var(--font-family-secondary);
    }
}

@media (max-width: 768px) {
    #email-collection-popup {
        padding: 20px 15px 30px;

        .pop-up-title {
            font-size: 20px;
        }

        .popup-text {
            font-size: 18px;
            width: 90%;
        }

        #popup-email-form {
            width: 95%;
        }
    }
}
</style>