<link rel="preload" as="image" href="{{ "mobile-sort-background.png" | asset_url }}">
<div id="mobile-sort">
    <div class="exit-container">
      <img src="{{ "exit.png" | asset_url }}" height="20px" width="20px"/>
    </div>
    <div id="mobile-sort-menu">
        <div class="mobile-sort-cart-container">
          <a href="{{ routes.cart_url }}">
            <div class="cart-title">CART</div>
              <div class="cart-count">
                {{ cart.item_count }}
              </div>
            </a>
        </div>
        <div class="mobile-sort-title">SORT</div>
        <div data-sort="featured">FEATURED</div>
        <div data-sort="best-selling">BEST SELLING</div>
        <div data-sort="price">PRICE</div>
        <div data-sort="newest">NEWEST</div>
    </div>
</div>
<style>
  .exit-container {
    direction: rtl;
    img {
      margin: 20px 20px 0 0;
    }
    img:hover {
      cursor:pointer;
    }
  }
  #mobile-sort {
    display: none;
    color: var(--font-color-light);
    width: 100vw;
    position: absolute;
    background-image: url('{{ "mobile-sort-background.png" | asset_url }}');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    z-index: 2000;
    top: 0;
    bottom: 0;
    right: 0;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;

    #mobile-sort-menu {
      height: 100vh;
      font-family: var(--font-family-secondary);
      font-size: 20px;
      gap: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: 100px;

      div:hover {
        cursor: pointer;
      }
    }
  }

  #mobile-sort.show {
    display: block; /* Make it visible */
    animation: slideInRight 0.5s ease-out forwards; /* Apply the animation */
  }

  #mobile-sort.hide {
    animation: slideOutRight 0.5s ease-out; /* Apply the animation */
  }

  @keyframes slideInRight {
  from {
    transform: translateX(100%); /* Start off-screen to the Right */
    opacity: 0; /* Start invisible */
  }
  to {
    transform: translateX(0); /* End at its original position */
    opacity: 1; /* End fully visible */
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0); /* Start at current position */
    opacity: 1;
  }
  to {
    transform: translateX(100%); /* Slide out to the Right */
    opacity: 0;
  }
}
</style>