<div id="footer">
  <div class="footer-content">
    <div class="footer-side">
      <div class="footer-menu special">
        <a href="{{ collections['web-shop'].url }}" class="{% if template == 'collection' or template == 'product' %}wavy-underline{% endif %}">THE SHOP</a>
        <a href="/pages/nursery" class="{% if page.handle == 'nursery' %}wavy-underline{% endif %}">THE NURSERY</a>
        <a href="/pages/garden-design" class="{% if page.handle == 'garden-design' %}wavy-underline{% endif %}">GARDEN DESIGN</a>
        <a href="#">CONTACT US</a>
        <a href="https://www.instagram.com/springroadnursery/">INSTGRAM</a>
      </div>
    </div>
    <div class="main">
      <img src="{{ 'inchworm.png' | asset_url }}" height="125px" width="auto"/>
    </div>
    <div class="footer-side">
      <div class="special wavy-underline">
        Keep In touch
      </div>
      <div class="side-text">
        From rare plants to handcrafted goods,
        we cultivate the strange and the beautiful
        on our mountainside in Vermont.  
        Be the first to hear about 
        what’s unfurling in the garden.
      </div>
      <div>
        {% form 'customer', class: 'newsletter-form' %}
          <input type="hidden" name="contact[tags]" value="newsletter">
          <div class="newsletter-form__field-wrapper">
            <div class="field">
              <input
                id="NewsletterForm--{{ section.id }}"
                type="email"
                name="contact[email]"
                class="field__input"
                value="{{ form.email }}"
                aria-required="true"
                autocorrect="off"
                autocapitalize="off"
                autocomplete="email"
                {% if form.errors %}
                  autofocus
                  aria-invalid="true"
                  aria-describedby="Newsletter-error--{{ section.id }}"
                {% elsif form.posted_successfully? %}
                  aria-describedby="Newsletter-success--{{ section.id }}"
                {% endif %}
                placeholder="{{ 'newsletter.label' | t }}"
                required
              >
              <label class="field__label" for="NewsletterForm--{{ section.id }}">
                {{ 'newsletter.label' | t }}
              </label>
              <button
                type="submit"
                class="newsletter-form__button field__button"
                name="commit"
                id="Subscribe"
                aria-label="{{ 'newsletter.button_label' | t }}"
              >
                <span class="svg-wrapper">
                  {{- 'icon-arrow.svg' | inline_asset_content -}}
                </span>
              </button>
            </div>
            {%- if form.errors -%}
              <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">
                <span class="svg-wrapper">
                  {{- 'icon-error.svg' | inline_asset_content -}}
                </span>
                {{- form.errors.translated_fields.email | capitalize }}
                {{ form.errors.messages.email -}}
              </small>
            {%- endif -%}
          </div>
          {%- if form.posted_successfully? -%}
            <h3
              class="newsletter-form__message newsletter-form__message--success form__message"
              id="Newsletter-success--{{ section.id }}"
              tabindex="-1"
              autofocus
            >
              <span class="svg-wrapper">
                {{- 'icon-success.svg' | inline_asset_content -}}
              </span>
              {{- 'newsletter.success' | t }}
            </h3>
          {%- endif -%}
        {% endform %}
      </div>
    </div>
  </div>
  <div id="footer-details" class="special">
    <span>Spring Road Nursery </span>      
    <span>78 Spring Rd </span>      
    <span>Tunbridge, VT 05077  </span>      
    <span>(802) 276-6481</span>
  </div>
</div>
<style>
   @font-face {
      font-family: "Akzidenz-Grotesk Pro", sans-serif;
      src: url('{{ "akzidenzgroteskpro_ext.otf" | asset_url }}') format('opentype');
      font-weight: normal;
      font-style: normal;
    }
    #footer {
      margin-top: 100px;
      margin-bottom: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: var(--font-color-dark);
    }
    .footer-content {
      max-width: 850px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .footer-side {
      font-family: var(--font-family);
      width: 33%;
      text-align: center;

      .side-text {
        line-height: 1;
      }
    }
    .footer-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .special {
      font-family: var(--font-family-secondary);
      text-transform: uppercase;
    }
    #footer-details {
      margin-top: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 20px;
      text-transform: uppercase;
      font-size: 12px;
    }

</style>