{% render 'mobile-nav' %}
{% render 'mobile-sort' %}
{% if page.handle == 'nursery' %}
  {% assign header_image = 'SRN-LOGO-BLACK.png' %}
{% elsif page.handle == 'garden-design' %}
  {% assign header_image = 'SRN-LOGO-LIGHT-GREEN.png' %}
{% else %}
    {% assign header_image = 'SRN-GREEN.png' %}
{% endif %}
{% if page.handle == 'nursery' %}
  {% assign hamburger = 'hamburger.png' %}
{% elsif page.handle == 'garden-design' %}
  {% assign hamburger = 'hamburger-light-green.png' %}
{% else %}
    {% assign hamburger = 'hamburger-dark-green.png' %}
{% endif %}
<div class="sn-header {% if page.handle == 'nursery' %}nursery-header{% elsif page.handle == 'garden-design' %}garden-design-header{% endif %}">
  <div class="content">
    <div class="side">
      <img class="mobile" id="hamburger-icon"src="{{ hamburger | asset_url }}" height="auto" width="auto"/>
    </div>
    <div class="main">
      <a href="{{ routes.root_url }}">
        <img id="logo" src="{{ header_image | asset_url }}" height="auto" width="auto"/>
      </a>
      <div class="menu">
        <div><a href="{{ collections['web-shop'].url }}" class="{% if template == 'collection' or template == 'product' %}wavy-underline{% endif %}">THE SHOP</a></div>
        <div><a href="/pages/nursery" class="{% if page.handle == 'nursery' %}wavy-underline{% endif %}">THE NURSERY</a></div>
        <div><a href="/pages/garden-design" class="{% if page.handle == 'garden-design' %}wavy-underline{% endif %}">GARDEN DESIGN</a></div>
      </div>
    </div>
    <div class="side">
      <div class="sort-container {% if template != 'collection' %}hide{% endif %}">
          <img id="sort-icon" src="{{ 'WormFilterIcon.png' | asset_url }}" height="auto" width="auto"/>
          <div id="sort-menu" class="sort-dropdown">
            <span data-sort="featured">Featured</span>
            <span data-sort="best-selling">Best Selling</span>
            <span data-sort="price">Price</span>
            <span data-sort="newest">Newest</span>
          </div>
        </div>
        <div id="header-cart"><a href="{{ routes.cart_url }}"><div class="srn-cart {% if cart == empty %}hidden{% endif %}">CART {{ cart.item_count }}</div></a>
      </div>
    </div>
  </div>
</div>
<script src="{{ 'menu-sort.js' | asset_url }}" defer="defer"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
  updateCartVisibility();
});

function updateCartVisibility() {
  fetch('/cart.js')
    .then(response => response.json())
    .then(cart => {
      const itemCount = cart.item_count;
      const cartElements = document.querySelectorAll('.srn-cart');
      
      cartElements.forEach(cartElement => {
        if (itemCount > 0) {
          cartElement.textContent = `CART ${itemCount}`;
          cartElement.style.display = 'block';
        }
      });
    })
    .catch(error => console.error('Error fetching cart:', error));
}
</script>
<style>
  a {
    text-decoration: none;
  }
  .sn-header .menu a,
  .sn-header .menu a:visited{
    color: var(--font-color-dark) !important;
  }
  .garden-design-header .menu a,
  .garden-design-header .menu a:visited{
    color: var(--font-color-light-quaternary) !important;
  }
  .nursery-header .menu a,
  .nursery-header .menu a:visited{
    color: var(--font-color-dark-secondary) !important;
  }
  .garden-design-header .menu a,
  .garden-design-header .menu a:visited{
    color: var(--font-color-light-quaternary) !important;
  }
  .sn-header .srn-cart {
    color: var(--font-color-dark);
    font-size: 15px
  }
  .garden-design-header .srn-cart {
    color: var(--font-color-light-quaternary);
    font-size: 15px
  }
  .nursery-header .srn-cart {
    color: var(--font-color-dark-secondary);
    font-size: 15px
  }
  #logo {
    height: 220px;
  }
  #filter {
    margin-top: 10px;
  }
  #menu-icon {
    margin-top: 10px;
  }
  img:hover {
    cursor: pointer;
  }
  .content {
    font-family: var(--font-family-secondary);
    max-width: 1200px;
    width: 100%;
    min-width: 768px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  .sort-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sort-container.hide {
      display: none;;
    }

.sort-dropdown {
  position: absolute;
  top: 100%; /* Position directly below the image */
  left: 50%;
  transform: translateX(-50%) translateY(-10px);
  min-width: 170px;
  max-width: 275px;
  background-color: var(--color-background);
  border-radius: 20px;
  padding: 10px 0;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  z-index: 1000;
  font-weight: 700;
  letter-spacing: 3px;
}

.sort-dropdown.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}

.sort-dropdown span {
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  color: var(--font-color-dark);
  font-family: var(--font-family-secondary);
}

.side {
  min-width: 20%;
  max-width: 275px;
  min-height: 1px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 100px;
  position: relative; /* Add this */
}

  @media (max-width: 850px) {
    .sort-dropdown {
      min-width: 150px;
      max-width: 200px;
    }
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
  .sn-header {
    width: 100vw;
  }
  .menu {
    font-size: 14px;
    font-stretch: expanded;
    font-weight: 400;
    max-width: 768px;
    width: 80%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .side:first-child {
    display: flex !important;
  }

  .mobile {
    display: none;
  }

  #hamburger-icon {
    height: 20px
  }

  #sort-icon {
    height: 60px;
  }

  @media (max-width: 850px) {
    #logo {
      height: 150px;
    }
    
    #hamburger-icon {
      height: 20px
    }
    
    #sort-icon {
      height: 45px
    }

    .content {
      min-width: auto;
      padding: 0 20px;
      align-items: center;
    }

    .side {
      min-width: auto;
      max-width: none;
      width: 60px;
      gap: 0px;
    }
    
    .menu {
      display: none;
    }

    .mobile {
      display: block;
    }

    {% if template == 'collection' %}
    #header-cart {
      display: none;
    }
    {% endif %}
  }
</style>