<div class="sn-header">
  <div class="content">
    <div class="side">
      <img class="mobile" id="hamburger-icon"src="{{ 'Hamburger.png' | asset_url }}" height="auto" width="auto"/>
    </div>
    <div class="main">
      <a href="{{ routes.root_url }}">
        <img id="logo" src="{{ 'SRN-BLACK-1.png' | asset_url }}" height="auto" width="auto"/>
      </a>
      <div class="menu">
        <div><a href="{{ collections['web-shop'].url }}">THE SHOP</a></div>
        <div><a href="/pages/nursery">THE NURSERY</a></div>
        <div><a href="/pages/garden-design">GARDEN DESIGN</a></div>
      </div>
    </div>
    <div class="side">
      <img id="sort-icon" src="{{ 'WormFilterIcon.png' | asset_url }}" height="auto" width="auto"/>
    </div>
  </div>
</div>
<style>
  @font-face {
    font-family: "Akzidenz-Grotesk Pro";
    src: url('{{ "akzidenzgroteskpro_ext.otf" | asset_url }}') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  a {
    text-decoration: none;
    color: #3B5669;
  }
  a:visited {
    color: #3B5669;
  }
  #logo {
    height: 180px;
    margin: 25px 0px;
  }
  #filter {
    margin-top: 10px;
  }
  #menu-icon {
    margin-top: 10px;
  }
  .content {
    max-width: 1200px;
    width: 100%;
    min-width: 768px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  .side {
    min-width: 20%;
    max-width: 275px;
    min-height: 1px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
  .sn-header {
    width: 100vw;
  }
  .menu {
    font-family: var(--font-secondary-family);
    font-size: 14px;
    max-width: 768px;
    width: 80%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .side:first-child {
    display: flex !important;
  }

  .mobile {
    display: none;
  }

  #hamburger-icon {
    height: 20px
  }

  #sort-icon {
    height: 60px
  }

  @media (max-width: 768px) {
    #logo {
      height: 90px;
      margin: 25px 0px;
    }
    
    #hamburger-icon {
      height: 20px
    }
    
    #sort-icon {
      height: 45px
    }

    .content {
      min-width: auto;
      padding: 0 20px;
      align-items: center;
    }

    .side {
      min-width: auto;
      max-width: none;
      width: 60px;
    }
    
    .menu {
      display: none;
    }

    .mobile {
      display: block;
    }
  }
</style>